body {
    background-color: black;
    color: white;
}
a:active,
a {
    text-decoration: none;
    color: #666;
}
input.message {
    width: 30%;
}
button {
    color: white;
    border-radius: 10px;
    background-color: #A42AB8;
}
.button-works {
    color: white;
}
